html{
    overflow-y: scroll;
}
body {
    font-family: 'Segoe UI', Arial, sans-serif;
    background-color: #f4f7f9;
    margin: 0;
    padding: 0;
    height: 100%;
}
/* Desktop */
#mainContent{
    margin-left: 290px;
    min-height: 100vh;
}

/* Responsive */
@media (max-width: 768px){

    #sidebar{
        width: 90px !important;
    }

    #mainContent{
        margin-left:90px !important;
    }

    #sidebar span,
    #sidebar small,
    #sidebar h5{
        display:none;
    }

    #sidebar .nav-link{
        justify-content:center;
    }
    .d-flex.justify-content-between {
    gap: 10px;
}
}